.carousel-container {
    width: 380px;
    position: relative;
}

img {
    width: 380px;
    height: 240px;
}

button {
    width: 24px;
    height: 24px;
    background-color: transparent;
}

button.arrow.left {
    position: absolute;
    top: 100px;
    left: 10px;
}

button.arrow.right {
    position: absolute;
    top: 100px;
    right: 10px;
}

.arrow:hover{
border-color: rgba($color: #ffffff39, $alpha: 0.8);
}

.arrow {
  border: solid white;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 3px;
  
  &.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

&.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
}

.arrow-override {
    border-color: #500909;

    &:hover {
        border-color: rgba($color: #500909, $alpha: 0.5);
    }
}
