h2 {
    text-align: center;
}

p-carousel {
    width: 500px;
    height: 300px;
}

img {
    width: 400px;
    height: 240px;
}

.gold-carousel {
      --p-carousel-indicator-active-background: #c9a14a;
      --p-carousel-indicator-focus-ring-shadow: 'none';

}

@media screen and (max-width: 499px) {
    p-carousel {
        width: 99vw;
    }
    img {
        width: 280px;
    }
}

@media screen and (min-width: 1100px) {
    p-carousel {
        width: 600px;
        height: 400px;
    }
    img {
        width: 500px;
        height: 300px;
    }
}