<div class="nav-container">
    <img class="logo" src="HSB-nobg.png">
    <button class="secondary">Design your building</button>
</div>
<div class="video-container">
    <video autoplay loop muted playsinline preload="auto" [muted]="true">
        <source src="/header.mp4" type="video/mp4">
        Your browser does not support HTML5 video.
    </video>
    <div class="video-overlay">
        <div class="overlay-text">
            <h1 class="header-title">The steel building experts</h1>
            <p class="header-subtitle">
                Designed, engineered, and installed by experts who know how to get it done right — from concept to
                completion.
            </p>
            <button class="btn-primary" (click)="contactVisible = !contactVisible">Get a Quote</button>
        </div>
    </div>
</div>
@if (contactVisible) {
    <div class="section">
            <h2>Intake Form</h2>
            <app-contact></app-contact>
    </div>
}
<div class="section">
    <h2>Built to last for generations</h2>
    <div class="cards">
        @for (data of differences; track $index) {
        <mat-card appearance="outlined">
            <img class="diff" mat-card-image [src]="'/difference-' + $index + '.jpg'">
            <mat-card-content>
                <mat-card-title>{{ data.title }}</mat-card-title>
                {{ data.description }}
            </mat-card-content>
        </mat-card>
        }
    </div>
</div>
<div class="categories">
<img src="categories.png">
</div>
<div class="section">
    <h2>Our Process</h2>
    <p class="process-subtitle">A streamlined approach from concept to completion</p>
    <div class="steps">
        @for (step of process; track $index) {
        <div class="step" [id]="$index + 1">
            <img class="process-icon" [src]="step.icon">
            <h3>{{ step.title }}</h3>
            <div class="step-desc">
                {{ step.description }}
            </div>
        </div>
        }
    </div>
</div>
<div class="cta">
    <div class="cta-text">
        <h1 class="cta-title">Ready to get started?</h1>
        <p class="cta-subtitle">Get a free consultation and detailed quote for your metal building project. Our team is
            ready to bring your vision to life.</p>
        <button (click)="bottomContactVisible = !bottomContactVisible" class="secondary" style="margin-right: 10px;">Request a Quote</button>
        <button class="primary">Call now</button>
    </div>
</div>
@if (bottomContactVisible) {
    <div class="section">
            <h2>Intake Form</h2>
            <app-contact></app-contact>
    </div>
}
<div class="footer-container">
    <img class="logo" src="HSB-nobg.png">
    <div class="footer-section-container">
    @for (section of footer; track $index) {
    <div class="footer-section">
        <p class="footer-title">{{ section.title }}</p>
        @for (link of section.links; track $index) {
        <div class="footer-text">
            <p [routerLink]="link?.link">{{ link.name }}</p>
        </div>
        }
    </div>
    }
</div>
</div>